button{
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 90px;
    cursor: pointer;
}
button:hover {
    opacity: 0.5;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}